<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>TRex Timer</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body ng-app="app" ng-controller="AppController">
    
    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a href="#/signup">Sign-Up</a>
        <a href="#/signin">Sign-In</a>
      </div>
    </div>

    <div class="container">
      <input type="text" placeholder="Minutes" name="timerCountMinutes" ng-model="timerCountMinutes">
      <input type="text" placeholder="Seconds" name="timerCountSeconds" ng-model="timerCountSeconds">
      <button ng-click="resetRace(); setTimer(timerCountSeconds,timerCountMinutes)">Set Time</button>
      <h2>
        <timer interval="1000" countdown="countdownTime" autostart="false" finish-callback="countdownComplete()">{{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}</timer>
      </h2>
      <button ng-click="startTimer()">Start Timer</button>
      <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
      <div class="trex one"></div>
      <div class="trex two"></div>
    </div>

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/moment/min/moment.min.js"></script>
    <script src="lib/moment/min/locales.min.js"></script>
    <script src="lib/humanize-duration/humanize-duration.js"></script>
    <script src="lib/angular-timer/dist/angular-timer.min.js"></script>
    <script src="app/app.js"></script>
    <script src="auth/auth.js"></script>
    <script src="services/services.js"></script>
<!--
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io('http://localhost:3030');
      socket.on('alert', function(data){
        console.log(data);
      });
    </script>
-->
  </body>
</html>