body {
  margin: 0;
}

#signInView {
  /*background-image: url(../assets/green-t-rex-background.jpg)*/
}

#raceView {
  height: 900px;
  background-image: url(../assets/bg.png);
  background-repeat: repeat-x;
}

.trex {
  position: relative;
  left: 10px;
  top: 180px;
  width: 500px;
  height: 277px;
  border: #000 5px solid;
  background-image: url(../assets/filler.gif);
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -900px 0;}
}

/*.one {
}

.two {
}*/
