body {
  margin: 0;
}

#signInView {
  /*background-image: url(../assets/green-t-rex-background.jpg)*/
}

.timerView {
  width: 50%;
  margin: 0 auto;
}
#raceView {
  height: 600px;
  background-image: url(../assets/bg.png);
  background-repeat: repeat-x;
  padding-right: 250px;
  display: inline-block;
  width: 50%;
}

.racerColumn {
  display: inline-block;
  height: 450px;
  width: 12%;
}

.chatWindow {
  width: 12%;
  height: 450px;
  display: inline-block;
}

.trex {
  position: relative;
  left: 10px;
  top: 58%;
  width: 122px;
  height: 92px;
  border: transparent 1px solid;
  transform: scaleX(-1);
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -1200px 0;}
}

.red {
  background-image: url(../assets/trex-running-g.gif);
}

.blue {
  background-image: url(../assets/trex-running-b.gif);
  top: 45%;
}

.green {
  background-image: url(../assets/trex-running-r.gif);
  top: 33%;
}

/*.four {
  top: 45%;
}

.five {
  top: 550px;
}

.six {
  top: 600px;
}*/
