html {
  height: 100%;
}

body {
  margin: 0;
  /*height: 100%;*/
  font-family: 'Montserrat', sans-serif;
}

#signInView {
  background-color: #899fc8;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 20px;
  width: 500px;
  height: 600px;
  padding-top: 20px;
}

#signInView h1 {
  text-align: center;
}

#signInView .icon {
  margin: 0 auto;
  width: 245px;
  height: 218px;
  background: url('../assets/game-icon-bg.png');
  animation: iconBackgroundScroll 5s linear infinite;
}

#signInView form {
  margin: 0 auto;
  width: 265px;
}

.submitButton {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;  
  background-color: #684580;
  text-shadow: 0px -1px #2980B9;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.submitButton:active {
    transform: translate(0px,2px);
    -webkit-transform: translate(0px,2px);
    border-bottom: #000 1px solid;
}

.inputBox {
  background: #fff;
  display: block;
  padding: 0px 10px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid rgba(16, 103, 133, 0.6);
  border-radius: 3px;
  height: 35px;
  width: 250px;
}

#signInView div {
  margin-top: 20px;
}


.timerView {
  width: 50%;
  margin: 0 auto;
}

#raceView {
  height: 600px;
  background-image: url(../assets/bg.png);
  background-repeat: repeat-x;
  padding-right: 250px;
  display: inline-block;
  width: 50%;
}

.racerColumn {
  display: inline-block;
  height: 450px;
  width: 12%;
}

.chatWindow {
  width: 12%;
  height: 450px;
  display: inline-block;
}

.trex {
  position: relative;
  left: 10px;
  top: 58%;
  width: 122px;
  height: 92px;
  border: transparent 1px solid;
  transform: scaleX(-1);
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -1200px 0;}
}

@keyframes iconBackgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -250px 0;}
}

.red {
  background-image: url(../assets/trex-running-r.gif);
}

.blue {
  background-image: url(../assets/trex-running-b.gif);
  top: 45%;
}

.green {
  background-image: url(../assets/trex-running-g.gif);
  top: 33%;
}
