<div class="timerView">
  <input type="text" placeholder="Minutes" name="timerCountMinutes" ng-model="timerCountMinutes">
  <input type="text" placeholder="Seconds" name="timerCountSeconds" ng-model="timerCountSeconds">
  <button ng-click="setTimer(timerCountSeconds,timerCountMinutes)">Set Time</button>
  <h2>
    <timer interval="1000" countdown="countdownTime" autostart="false" finish-callback="countdownComplete()">{{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}</timer>
  </h2>
  <button ng-click="startTimer()">Start Timer</button>
  <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
</div>

<div class="racerColumn">
  <select ng-model="selectedRacer" ng-options="racers for racers in racerChoices">
  </select>
  <button ng-click="chooseRacer(selectedRacer)">Choose Racer</button>
  <div class="userList">
    <h4>Red</h4>
    <p ng-repeat="user in userList | filter: 'red'">{{user.name}}</p>
    <h4>Blue</h4>
    <p ng-repeat="user in userList | filter: 'blue'">{{user.name}}</p>
    <h4>Green</h4>
    <p ng-repeat="user in userList | filter: 'green'">{{user.name}}</p>
  </div>
</div>

<div id="raceView">  
  <div class="trex one"></div>
  <div class="trex two"></div>
  <div class="trex three"></div>
  <div class="trex four"></div>
  <div class="trex five"></div>
</div>

<div class="chatWindow">
  <div class="chatRoom">
  </div>
  <div class="chatSubmit">
    <form ng-submit="sendChatMessage(chatMessage)">
      <input type="text" placeholder="Send your message" name="chatMessage" ng-model="chatMessage">
    </form>
  </div>
</div>