<div id='signInView'>
  <h1>Signin</h1>

<!--   <div>join an existing race</div><br>

  <div>
    Race:
    <select></select>
  </div>

  <form action="#" method="post">
    <input type="text" name="username" placeholder="username"/>
    <input type="submit" name="submit" class="submit" ng-click=""/>
  </form><br> -->

  <div>create/join a new race</div><br>
  <form ng-submit="ctrlSignIn()">
    <input type="text" name="racename" ng-model="racename" placeholder="race name"/>
    <input type="text" name="username" ng-model="username" placeholder="username"/>
    <input type="submit" name="submit"/>
  </form>
</div>